.main{
    margin-top: 10px;
    background-color: var(--nav-bg-color);
}
.mathemical {
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 30px;
    font-weight: 400;

    color:var(--nav-text-color);

    display: block;
    text-align: center;
}
.math-title{
    color:var(--nav-text-color);

    display: block;

    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 20px;
    font-weight: 400;
}
.oranjered{
    color:var(--nav-text-hover);
}
.formula{
    background-color:var(--math-color);

    font-size: 15px;
    font-weight: 400;

    text-align: center;
    display: inline-block;

    color: var(--nav-text-color);
    padding: 10px;

    text-align: center;
    align-items:center;
}
.mathemical-block{
    padding-left: 40px;
    padding-bottom: 40px;
        font-size: 20px;
        font-weight: 400;
        color: var(--bg-color);
}