:root{
        --secondary-color: #983b45;
        --secondary-hover: #7a1b26;

        --whitey-color: rgba(255, 255, 255, 1);

        --bg-color: #680914be;

        --bg-main-color: #86929f;

        --cubic-main:cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    background-color: var(--bg-color) ;
    padding-top: 40px;
}

.section{
    width: 1200px;
    height: 930px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;

    margin: 0 auto;
    border-radius: 4px;
    /* border: 1px solid black; */

    background-color: var(--bg-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-homework-1{
    text-align: center;
}

.homework-2{
    display: block;

    padding: 40px;


    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.homework-2 li:first-child{
    list-style: none;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    color:#fff;
    background-color: var(--bg-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
.homework-2 li:first-child h2{
    font-size: 34px;
    font-weight: 300;
}
.homework-2 li{
    color: var(--bg-main-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.home-list{
    background-color: var(--bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--cubic-main);

    width: 1050px;
    text-align: center;

    padding: 10px;
    margin: 20px;

    color:#fff;

    display: inline-block;
    font-weight:300 ;
}

.home-list:hover{
    background-color: #86929f;
}
.list-work:hover{
    background-color: var(--bg-color);
    cursor: pointer;
}

.list-work{
    background-color:#86929f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    list-style: none;

    margin-top: 20px;

    /* width: 150px; */
    height: 100px;
    transition: background-color 500ms var(--cubic-main);
}